/* UNIVERSAL STYLES */ 

html {
    font-size: 16px;
    text-align: center;
    background-color: rgb(118, 171, 118);
    font-family: 'Roboto';
    box-sizing: content-box;
    color: rgb(26, 50, 20);
}

img {
    object-fit: contain;
    width: 150px;
}

a {
    color: rgb(9, 59, 9);
    text-decoration: none;
}

a:visited {
    color: rgb(119, 116, 120);
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 50, 20);
}

/* NAV BAR */

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 253, 250);
    align-items: center;
    
}

.logo {
    padding: 10px 0px 10px 20px ;
}

.nav-menu {
    color: gray;
    display: flex;
    justify-content: space-around;
    width: 500px;
    font-size: 1.5rem;
    
}

/* HAEDER */
.header{
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.header::before {    
    content: "";
    background-image: url('/images/header-background2.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.magic {
    position: relative;
    padding: 1rem;
    font-size: 2rem;
    background-color:rgba(250, 241, 224, 0.533);
    color: rgb(26, 50, 20);
    text-shadow:1px 1px rgb(255, 255, 255);
}

/* ABOUT */
.about {
    background-color:rgba(250, 241, 224, 0.533);
    width: 100%;
}
/* PRODUCTS */

/* TEAM */

/* FOOTER */

